.menu {
  text-align: center;
  margin: 15px;
}

.menu-button {
  width: 200px;
  margin: 15px;
}

.bpmn-container {
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.bpmn-viewer {
  overflow: auto;
  flex-direction: column;
  min-width: 300px;
  width: 70%;
  background-color: aquamarine;
  padding: 10px;
}

.bpmn-panel {
  overflow: auto;
  flex-direction: column;
  min-width: 300px;
  width: 30%;
  background-color: blue;
  padding: 10px;
}

.djs-bendpoints {
  display: none;
}