.menu {
  text-align: center;
  margin: 15px;
}

.menu-button {
  width: 200px;
  margin: 15px;
}

.bpmn-container {
  display: flex;
  flex-direction: row;
  min-height: 350px;
}

.bpmn-viewer {
  overflow: auto;
  flex-direction: column;
  min-width: 300px;
  width: 70%;
  background-color: aquamarine;
}

.bpmn-panel {
  overflow: auto;
  flex-direction: column;
  min-width: 300px;
  width: 30%;
  background-color: blue;
}